
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.titulo{
    color: brown;
    font-weight: bold;
    font-size: large;
}

.dropdown-content li a {
  color: grey;
}

.dropdown-content li a.delete-option {
  color: red;
}

.no-pointer-events {
  pointer-events: none;
}

